.cardContainer {
    margin-top: 1em;
    margin-bottom: 4em;
    width: 100%;
}
.gridLine {
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
.cardItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25em;
    margin: 0.5em 0;
    gap: 1em;
    border-radius: 8px;
    border: 1px solid #404040;
    background: rgb(255, 255, 255, 0.04);
}
.cardItemDouble {
    grid-column: span 2; /* занимает 2 колонки вместо 1 */
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 1.25em;
    margin: 0.5em 0;
    gap: 1em;
    border-radius: 8px;
    border: 1px solid #404040;
    background: rgb(255, 255, 255, 0.04);
    align-self: stretch;

}

.cardItemText {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.1px;
}
.cardItemTextDouble {
    font-family: "DM Sans", sans-serif;
    color: #ffffff9d;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 130%;
    text-align: left;
    letter-spacing: -0.1px;
}

.cardItemImage {
    width: 2.37em;
    height: 2.37em;
}