/* Rights.module.css */

.root {
  background-color: #fff;
  color: var(--main-text);
  font-family: 'Arial', sans-serif;
  padding: 20px;
  margin: 1em;
  border-radius: 16px;
}

.heading1 {
  color: var(--dark);
  font-size: 24px;
  margin-bottom: 20px;
}

.heading2 {
  font-size: 20px;
  color: var(--bold-text);
  margin-top: 30px;
  margin-bottom: 15px;
}

.heading3 {
  font-size: 18px;
  color: var(--extra);
  margin-bottom: 10px;
}

.paragraph,
.list {
  line-height: 1.6;
  color: var(--main-text-half);
}

.list {
  padding-left: 20px;
}

.listItem {
  margin-bottom: 5px;
}

.link {
  color: var(--second-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.contactInfo {
  background-color: var(--white);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .heading1, .heading2, .heading3 {
    text-align: center;
  }

  .contactInfo {
    margin-top: 20px;
  }
}
