.runningLineContainer {
  width: 100%;
  overflow: hidden;
  background: #89cff0;
  padding: 0.5em;
  border-radius: 36px;
  margin: 0.5em auto;
  max-width: 1920px;
}

.slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3em;
  font-size: 0.8em;
  text-transform: capitalize;
  color: #252525;
}

.slide::after {
  content: '';
  position: absolute;
  right: 0.4em; 
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #FF7272;
  border-radius: 50%;
}