.RegistrationWrapper {
  display: flex;
  flex-direction: column;
  /* gap: 3.3em; */

  padding: 2em 1em 1em 1em;
}

.RegistrationSection {
  width: 100%;
  display: flex;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.RegistrationForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding: 3em 4em;
}

.AuthorisationForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding: 3em 4em;
}
.ForgotForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding: 3em 4em;
}

.RegistrationDetails {
  position: relative;
  width: 60%;
  height: 100%;
}

.formextraButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formextraButton button {
  display: flex;
  color: var(--main-text);
  padding: 1em 0;
  margin-top: 0.5em;
  /* padding-left: 0; */
  /* background: #000; */
  cursor: pointer;
  color: #151515;
  border-radius: 50px;
}
