.header {
  display: flex;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}


.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navMenu {
  display: flex;
  align-items: center;
  gap: 1em;
}

.list {
  display: flex;
}

.list li { padding: 1em;}
