.SectionWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
  width: 100%;
}

.HeaderContent {
  display: flex;
  align-items: center;
  border-radius: 12px;
  background: #fff;
  padding: 0.375em 0.81em;
  justify-content: space-between;
}

.HeaderBlockLogo {
  width: 100%;
  max-width: 23em;
  display: flex;
  align-items: center;
  gap: 2em;
}
.HeaderBlockActions {
  /* width: 100%; */
  /* max-width: 23em; */
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.HeaderLogo {
  display: block;
  max-width: 12em;
}

.HeaderSocial {
  display: flex;
  align-items: center;
  gap: 0.375em;
}

.RegisterBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: #5ac5bf;
  border-radius: 10px;
  padding: 0.625em 1.375em;
  transition: background-color 0.24s ease-in-out;
}

/* .RegisterBtn:hover {
  background-color: #5ac5bf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

.RegisterBtn:hover {
  background-color: #6fd1cb;
}
/* .RegisterBtn:hover {
  background-color: #4bb3ae;
} */

/* .RegisterBtn:hover {
  background-color: #4da8a1;
} */

.RegisterBtn img,
.RegisterBtn svg {
  width: 1.375em;
  height: 1.375em;
}

.RegisterBtn > p {
  color: #fff;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 300;
}
