@tailwind base;
@tailwind components;
@tailwind utilities;

/* style reset */

body {
  font-size: 16px;
  overflow-x: hidden;
  background: #f4f4f8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  cursor: default;
}

.main-btn {
  /* padding: 1.62em 2em; */
  border-radius: 200px;
  text-wrap: nowrap;
}

/* COLORS */

@layer base {
  :root {
    --main-page: #f4f4f8;
    --white: #fff;
    --dark: #182233;
    --second-color: #ff7272;
    --second-colorHr: #ed5858;
    --second-colorHrBright: #d46262;
    --extra: #5ac5bf;
    --main-text: #182233;
    --main-text-half: rgba(24, 34, 51, 0.65);
    --second-text: rgba(24, 34, 51, 0.65);
    --third-text: rgba(24, 34, 51, 0.65);
    --bold-text: #1d1d33;
    --text-white-pass: rgba(255, 255, 255, 0.65);
    --social-icons: #40514e; /* deleate? */
  }
}

.red-background {
  background-color: red;
}
